 <% include  partials/header %>
	 
<style>
  .demoTable td
   {
      padding-left: 10px;
       
   }
   .demoTable td input
   {
      border: 2px solid black;
      height: 30px;
   }

</style>
	 
	<h3>Sample Application</h3>
        
        
        <section class="column50Left">
         <table class="table table-striped">
         <tr><th>User Name:</th><td><%= user.displayName %> </td>     <% if (user.image.url) { %>
        <td rowspan="2" align="center"><img src="<%= user.image.url %>"></td>
 
        <% } %>  </tr>
         <tr><th>User Id:</th><td><%= user.id %></td></tr>
         </table>
        </section>
        
    <section class="column50Right">
         <table class="demoTable">
         <tr>
         <td>
        <button class="btn btn-primary" onClick="doCalendar()">Calendar</button>
        </td>
        <td>
                <table class="demoTable">
                <tr>
                <td><button class="btn btn-primary " onClick="quickAdd()">Quick Add</button></td>
                <td><input type="text" id="quickAdd" size="50"  /></td>
                 </tr>
                 </table>

        </td>
        </tr>
        </table>

                <table class="table row">
                <thead><th>Date</th><th>Summary</th><th>Organizer</th></thead>
                <tbody  id="eventTable"></tbody>
                </table>
    </section>
    

 <% include  partials/footer %>