 <% include  partials/header %>
	 
 
	 
	<h3>Popup Demo</h3>
        
        
        <section class="column50Left">
         <a  class="popup-class" id="popUpLink" href="/obtainCode">Login popup</a>
        </section>
    <section class="column50Right">
          right side
    </section>




 <% include  partials/footer %>


 