 <% include  partials/header %>
	 
 
	 
	<h3><%= title %></h3>
        
        <div class="row">
        <section class="column50Left">
         <a  class="pull-left btn btn-large btn-primary"   href="/obtainCode">Login Via Server Node</a>
         <a  class="pull-right btn btn-large btn-primary" id="popUpLink" href="#">Login Via Client Code</a>
        </section>
     </div>


<script>

var CONFIG = <%- CONFIG %>;

</script>


 <script src="/js/popup_code.js" type="text/javascript"></script>

 <% include  partials/footer %>


 