 <% include  partials/header %>
	 
 
	 
	<h3><%= title %></h3>
        
        <div class="row">
        <section class="column50Left">
         <a  class="btn btn-large btn-primary" id="popUpLink" href="/obtainCode">Login Via Server Node</a>
        </section>
     </div>




 <% include  partials/footer %>


 